*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s all linear;
    list-style-type: none;
}

.container{
    max-width: 1960px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.bayan{
    padding: 50px 0;

}
.bayan__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
   
}
.bayan__list{
    display: flex;
    flex-direction: column;

}

.bayan__list-item{
    border-bottom: 2px solid grey;
   
}

.bayan__list-item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bayan__list-item .bayan__list-img{
    display: flex;
    justify-content: center;
    
}

.bayan__list-title{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    color: blue;
    padding: 20px 0;
}
.bayan__list-img{
    max-width: 40%;
}